<div class="p-10">
  <h1 class="text-lg font-bold">About</h1>
  <p class="text-xs">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum, ipsam.
    Reprehenderit alias quae ea eligendi maxime consequuntur quidem delectus
    optio autem laborum sequi, id aspernatur omnis modi facere, dolorum tempora.
  </p>
  <p class="text-xs">
    Número de clientes
    <app-counter [duration]="duration()" [message]="message()" />
  </p>
  <div>
    <app-wave-audio audioUrl="assets/audio.mp3" />
  </div>
</div>
